<ion-header>
  <ion-toolbar>
    <ion-title>Formulario-App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
 
<ion-card color="light">
  <ion-card-header><ion-card-title><h2>{{form.title}}</h2></ion-card-title></ion-card-header>


  <ion-card-content>
<ion-list>
  <ion-item *ngFor="let pre of preguntas;let i=index;">
<pregunta [pre]="pre"  (res)="getData($event,i)"></pregunta>
</ion-item>
<ion-button (click)="mostrar()">mostrar</ion-button>
</ion-list>
  </ion-card-content>
</ion-card>


</ion-content>
